# Copie este arquivo para ".env" e preencha. NUNCA compartilhe o ".env".
DEBUG=False
SECRET_KEY=coloque-aqui-uma-chave-longa-e-aleatoria
ALLOWED_HOSTS=seudominio.com.br
CSRF_TRUSTED_ORIGINS=https://seudominio.com.br
